$font-smaller: 20px;
$font-small: 30px;
$font-medium: 35px;
$font-large: 50px;
$font-larger: 70px;

$color-white: #ffffff;
$color-light-gray: #d2d2d2;
$color-pink: #d50c59;
$color-light-pink: #f5a9f1;
$color-blue: #313464;
$color-dark-blue: #0e1d3c;
$color-gray: #676767;

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flexbox-settings($flex-flow, $justify-content, $align-items, $align-content) {
    -ms-flex-flow: $flex-flow;
    flex-flow: $flex-flow;
    @if $justify-content == 'flex-start' {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
    } @else {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    }
    
    justify-content: $justify-content;
    @if $align-items == 'flex-start' {
        -webkit-box-align: start;
        -ms-flex-align: start;
    } @else {
        -webkit-box-align: center;
        -ms-flex-align: center;
    }
    -ms-grid-row-align: $align-items;
    align-items: $align-items;

    @if $align-content == 'flex-start' {
        -ms-flex-line-pack: start;
    } @else {
        -ms-flex-line-pack: center;
    }
    align-content: $align-content;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
}

@mixin flex-direction($value) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: $value;
    flex-direction: $value;
}

@mixin circle-label($color, $width, $height, $font-color, $cursor) {
    background: $color;
    border-radius: 50%;
    -moz-border-radius: 50%;
    width: $width;
    height: $height;
    color: $font-color;
    cursor: $cursor;
}

*, body {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: $font-smaller;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

textarea:focus, input:focus {
    outline: none;
}

ul, li {
    list-style-position: inside;
}

.header {
    background: $color-dark-blue;
    color: $color-white;
    height: 185px;
    min-height: 185px;
    padding: 0 25px 0 25px;
}

.abstract-button {
    border: none;
    outline: none;
    &:focus, &:active {
        border: none;
        outline: none;
    }
    &:hover {
        opacity: 0.8;
    }
    &:disabled {
        cursor: not-allowed;
    }
}

.title-single-item {
    padding: 0px 0px 0px 25px;
    h5 {
        font-size: $font-small;
        font-weight: 500;
        height: 120px;
        margin: auto 0;
        padding: 45px 0 45px 0;
    }
}

.main {
    @include flexbox();
    @include flex-direction(column);
    height: 100vh;
    width: 100%;
}

.main-single {
    overflow-y: hidden;
    overflow-y: -moz-hidden-unscrollable;
}

.header-flex {
    @extend .header;
    @include flexbox();
    @include flexbox-settings(row wrap, flex-start, center, center);
    .nav {
        text-align: center;
        font-size: $font-large;
        text-decoration: none;
        line-height: 53px;
        @include circle-label($color-blue, 63px, 63px, $color-white, pointer);
        &:hover {
            opacity: 0.8;
        }
    }
    h1 {
        font-size: $font-medium;
        font-weight: 500;
        line-height: 34px;
        padding: 0px 0px 0px 20px;
        width: -webkit-calc(100% - 63px - 20px);
        width: calc(100% - 63px - 20px);
    }
}

.container-create-item {
    form {
        padding: 45px 25px 0px 25px;
        @include flexbox();
        @include flexbox-settings(row wrap, flex-start, center, center);
        .field-row {
            flex-basis: -webkit-calc(100% - 80px);
            flex-basis: calc(100% - 80px);
            -ms-flex-preferred-size: -webkit-calc(100% - 80px);
            -ms-flex-preferred-size: calc(100% - 80px);
            input[type="text"] {
                width: -webkit-calc(100% - 14px);
                width: calc(100% - 14px);
                display: block;
                border-width: 0 0 1px 0;
                border-color: #979797;
                color: #303030;
                padding: 7px;
                font-size: $font-medium;
            }
        }
        .btn-row {
            flex-basis: 80px;
            -ms-flex-preferred-size: 80px;
            button {
                font-size: $font-medium;
                background: none;
                @extend .abstract-button;
                @include circle-label($color-blue, 63px, 63px, $color-white, pointer);
                display: block;
                margin: 0 0 0 -webkit-calc(80px - 63px);
                margin: 0 0 0 calc(80px - 63px);
            }
        }
    }
}

.header-list {
    @extend .header;
    @include flexbox();
    @include flexbox-settings(column wrap, center, flex-start, flex-start);
    h1 {
        font-size: $font-large;
    }
    h4 {
        font-size: $font-smaller;
    }
}

.container-list {
    .items {
        list-style-type: none;
        li {
            @include flexbox();
            @include flexbox-settings(row wrap, flex-start, center, center);
            height: 120px;
            border-bottom: 1px solid $color-light-gray;
            cursor: pointer;
            .items-title {
                flex-basis: -webkit-calc(100% - 80px - 25px);
                flex-basis: calc(100% - 80px - 25px);
                -ms-flex-preferred-size: calc(100% - 80px - 25px);
                -ms-flex-preferred-size: -webkit-calc(100% - 80px - 25px);
                @extend .title-single-item;
            }
            .items-title-second {
                @extend .title-single-item;
                @include flex(2);
            }
            .items-count {
                flex-basis: 80px;
                -ms-flex-preferred-size: 80px;
                span {
                    @include circle-label($color-blue, 63px, 63px, $color-white, default);
                    font-size: $font-small;
                    font-weight: 500;
                    display: block;
                    padding: 13px 0 0 0;
                    text-align: center;
                    cursor: pointer;
                    margin: 0 0 0 auto;
                }
            }
            .item-delete {
                @include flex(1);
                button {
                    height: 120px;
                    font-size: $font-small;
                    color: $color-white;
                    background: $color-pink;
                    @extend .abstract-button;
                    cursor: pointer;
                    width: 100%;
                }
            }
        }
    }
    .item-new {
        text-align: center;
        margin: 35px 0 35px 0;
        .new {
            @include circle-label($color-pink, 84px, 84px, $color-light-pink, pointer);
            display: inline-block;
            text-decoration: none;
            @extend .abstract-button;
            -webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.4);
            -moz-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.4);
            box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.4);
            span {
                font-size: $font-larger;
                font-weight: 600;
            }
        }
    }
}

.single-item {
    @include flexbox();
    @include flex-direction(column);
    width: 100%;
    min-width: 0;
    min-height: 0;
    .comments {
        height: 100vh;
        padding: 25px 0px 0px 0px;
        list-style-type: none;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        @include flex(1);
        .comment {
            @include flexbox();
            border-bottom: 1px solid $color-light-gray;
            padding: 25px 25px 50px 25px;
            .comment-avatar {
                flex-basis: 120px;
                -ms-flex-preferred-size: 120px;
                .comment-image {
                    width: 80px;
                    height: 80px;
                    background: $color-blue;
                }
            }
            .comment-text {
                flex-basis: -webkit-calc(100% - 120px);
                flex-basis: calc(100% - 120px);
                -ms-flex-preferred-size: calc(100% - 120px);
                -ms-flex-preferred-size: -webkit-calc(100% - 120px);
                p {
                    font-size: $font-smaller;
                    line-height: 30px;
                    color: $color-gray;
                }
            }
            &:last-child {
                border: none;
            }
        }
        .no-comments {
            padding: 45px 25px 45px 25px;
            font-size: $font-small;
            font-weight: 500;
            color: $color-gray;
        }
    }
    .comments-footer {
        background: #e7e7e7;
        padding: 7px;
        height: 77px;
        min-height: 77px;
        max-height: 77px;
        @include flex(1);
        form {
            @include flexbox();
            .field-row {
                flex-basis: -webkit-calc(100% - 80px);
                flex-basis: calc(100% - 80px);
                -ms-flex-preferred-size: calc(100% - 80px);
                -ms-flex-preferred-size: -webkit-calc(100% - 80px);
                input[type="text"] {
                    height: 63px;
                    width: 100%;
                    font-size: $font-smaller;
                    padding: 12px;
                    border-radius: 2px;
                    color: #323232;
                    border: 1px solid $color-light-gray;
                    overflow: auto;
                    outline: none;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                    -webkit-box-shadow: none;
                }
            }
            .btn-row {
                -ms-flex-preferred-size: 80px;
                flex-basis: 80px;
                button {
                    font-size: $font-medium;
                    background: none;
                    @extend .abstract-button;
                    @include circle-label($color-blue, 63px, 63px, $color-white, pointer);
                    display: block;
                    margin: 0 0 0 -webkit-calc(80px - 63px);
                    margin: 0 0 0 calc(80px - 63px);
                }
            }
        }
    }
}

.not-found {
    text-align: center;
    margin: 40px 0 0 0;
    h1 {
        font-size: $font-medium;
    }
    p, a, small {
        font-size: $font-smaller;
    }
}